parameters:
	ignoreErrors:
		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: src/Action/AuthErrorAction.php

		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: src/Action/AuthSuccessAction.php

		-
			message: "#^Method Core23\\\\FacebookBundle\\\\Block\\\\Service\\\\PageFeedBlockService\\:\\:getData\\(\\) has parameter \\$settings with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Block/Service/PageFeedBlockService.php

		-
			message: "#^Method Core23\\\\FacebookBundle\\\\Block\\\\Service\\\\PageFeedBlockService\\:\\:getData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Block/Service/PageFeedBlockService.php

		-
			message: "#^Cannot call method scalarNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Core23\\\\FacebookBundle\\\\Session\\\\Session\\:\\:fromFacebookApi\\(\\) has parameter \\$graphUser with no value type specified in iterable type Facebook\\\\GraphNodes\\\\GraphUser\\.$#"
			count: 1
			path: src/Session/Session.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 2
			path: src/Session/Session.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$twig has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$sessionManager has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$eventDispatcher has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$twig has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$sessionManager has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$eventDispatcher has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$facebook has no typehint specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$sessionManager has no typehint specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$helper has no typehint specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\StartAuthActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/StartAuthActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\StartAuthActionTest\\:\\:\\$facebook has no typehint specified\\.$#"
			count: 1
			path: tests/Action/StartAuthActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Block\\\\Service\\\\PageFeedBlockServiceTest\\:\\:\\$facebook has no typehint specified\\.$#"
			count: 1
			path: tests/Block/Service/PageFeedBlockServiceTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\EventDispatcher\\\\TestEventDispatcher\\:\\:\\$response has no typehint specified\\.$#"
			count: 1
			path: tests/EventDispatcher/TestEventDispatcher.php

		-
			message: "#^Method Core23\\\\FacebookBundle\\\\Tests\\\\EventDispatcher\\\\TestEventDispatcher\\:\\:dispatch\\(\\) should return object but return statement is missing\\.$#"
			count: 1
			path: tests/EventDispatcher/TestEventDispatcher.php

