parameters:
	ignoreErrors:
		-
			message: "#^Method Core23\\\\FacebookBundle\\\\Block\\\\Service\\\\PageFeedBlockService\\:\\:getData\\(\\) has parameter \\$settings with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Block/Service/PageFeedBlockService.php

		-
			message: "#^Method Core23\\\\FacebookBundle\\\\Block\\\\Service\\\\PageFeedBlockService\\:\\:getData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Block/Service/PageFeedBlockService.php

		-
			message: "#^Cannot call method scalarNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Core23\\\\FacebookBundle\\\\Session\\\\Session\\:\\:fromFacebookApi\\(\\) has parameter \\$graphUser with no value type specified in iterable type Facebook\\\\GraphNodes\\\\GraphUser\\.$#"
			count: 1
			path: src/Session/Session.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 2
			path: src/Session/Session.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionIntegrationTest.php

		-
			message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionIntegrationTest.php

		-
			message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionIntegrationTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\StartAuthActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/StartAuthActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Action\\\\StartAuthActionTest\\:\\:\\$facebook has no typehint specified\\.$#"
			count: 1
			path: tests/Action/StartAuthActionTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\Block\\\\Service\\\\PageFeedBlockServiceTest\\:\\:\\$facebook has no typehint specified\\.$#"
			count: 1
			path: tests/Block/Service/PageFeedBlockServiceTest.php

		-
			message: "#^Property Core23\\\\FacebookBundle\\\\Tests\\\\EventDispatcher\\\\TestEventDispatcher\\:\\:\\$response has no typehint specified\\.$#"
			count: 1
			path: tests/EventDispatcher/TestEventDispatcher.php

